#modal-container {
  .modal-background {
    display: table-cell;
    background: rgba(0, 0, 0, 0.6);
    vertical-align: middle;

    .modal-content {
      width: 600px;
      height: 770px;
      margin: auto;
      background-color: #fff;
      overflow: hidden;
      border: 5px solid black;
      display: flex;
      flex-direction: column;
      align-items: center;

      .modal-content-image {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        max-height: 100%;
        overflow: auto;
        overflow-x: hidden;
        padding-top: 10px;

        img {
          max-width: 886px;
          max-height: 106px;
        }
      }

      .wpcf7 {
        padding-top: 15px;

        .wpcf7-form {
          max-width: 269px;
          label {
          font-family: 'Poppins';
          font-style: normal;
          font-weight: 500;
          font-size: 12px;
          line-height: 18px;
          max-width: 269px;

          .wpcf7-form-control-wrap {
            .wpcf7-text {
              width: 263px;
              height: 40px;
              border: 1px solid #B8BBC2;
              border-radius: 8px;
            
            }
          }

            .wpcf7-textarea {
              width: 263px;
              border: 1px solid #B8BBC2;
              border-radius: 8px;
              resize: none;
            }
        }

          .wpcf7-submit {
            background: #D8D8D8;
            box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.02);
            border-radius: 2px;
            width: 269px;
            height: 50px;
            border: none;
            margin-top: 19px;
            font-family: 'Space Mono';
            font-size: 12px;
            font-weight: 400;
            line-height: 18px;
            letter-spacing: 0em;
          }
        }
      }
    }
  }
}


#modal-container {
  position: fixed;
  display: table;
  height: 100%;
  width: 100%;
  top: 0;
  transform: scale(0);
  z-index: 1;
}
#modal-container.one {
  transform: scaleY(0.01) scaleX(0);
  animation: unfoldIn 2s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.one .modal-background .modal-content {
  transform: scale(0);
  animation: zoomIn 1s 1.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.one.out {
  transform: scale(1);
  animation: unfoldOut 1.5s 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.one.out .modal-background .modal-content {
  animation: zoomOut 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

@keyframes unfoldIn {
  0% {
    transform: scaleY(0.005) scaleX(0);
  }
  50% {
    transform: scaleY(0.005) scaleX(1);
  }
  100% {
    transform: scaleY(1) scaleX(1);
  }
}
@keyframes unfoldOut {
  0% {
    transform: scaleY(1) scaleX(1);
  }
  50% {
    transform: scaleY(0.005) scaleX(1);
  }
  100% {
    transform: scaleY(0.005) scaleX(0);
  }
}
@keyframes zoomIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes zoomOut {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}


//Mobile 
@media (max-width: 768px) {
  #modal-container {
    .modal-background {
      .modal-content {
        width: 286px;
        height: 650px;
     
        .modal-content-image {
          img {
            max-width: 460px;
            max-height: 55px;
          }
        }
  
        .wpcf7 {
          padding-top: 0px !important;
  
          .wpcf7-form {
            max-width: 190px;
            label {
              .wpcf7-form-control-wrap {
                .wpcf7-text {
                  width: 190px;
                  height: 40px;
                }
              }
  
              .wpcf7-textarea {
                width: 190px;
                height: 149px;
              }
            }
  
            .wpcf7-submit {
              width: 190px;
              height: 50px;
              margin-top: 10px;
            }
            
          }
        }
      }
    }
  }
}
 