// Principal-page_index - picture-principal-page

#page #content #primary #main .content-wrapper figure img {
    width: 100%;
    max-height: 962px;
 }

.image-overlay {
    bottom: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}