//single-photos_nathalie_mota - infos-single-picture

#page {
    #content {
      #primary {
        #main {
          .custom-row {
            margin-top: 50px;
            gap: 1%;
  
            .custom-info {
              max-width: 49%;
              width: 100%;
              .title-h1 {
                text-transform: uppercase;
                font-family: 'Space Mono';
                font-size: 66px;
                font-style: italic;
                font-weight: 400;
                line-height: 58px;
                letter-spacing: 0em;
                text-align: left;
                padding-bottom: 20px;
              }
  
              p {
                font-size: 14px;
                font-weight: 400;
                line-height: 21px;
                letter-spacing: 0.1em;
                text-align: left;
                text-transform: uppercase;
                padding-bottom: 20px;
              }
            }
            .custom-picture {
              max-width: 50%;
                figure {
                  margin-bottom:0;
                  img{
                    object-fit: cover;
                    height: 844px;
                  }
                }
            }
            .custom-mt-auto {
              border-bottom: 1px solid black;
            }
          }
        }
      }
    }
}

@media (max-width: 768px){
  #page {
    #content {
      #primary {
        #main {
          .custom-row {
            display: grid;
            grid-template-columns: 1fr;
            justify-items: center;
            .custom-info {
              max-width: 100% !important;
              .title-h1 {
                font-size: 46px;
                line-height: 48px;
              }
            }

            .custom-picture {
              max-width: 100% !important;
              margin-left: 60px;
              margin-right: 60px;
                  img{
                    height: 400px !important;
                  }
                }
            }
            .custom-mt-auto {
              .infos-picture {
                margin-left: 60px;
                margin-right: 30px;
              }
            }
          }
        }
      }
    }
  }

@media (max-width: 768px) {
  #page {
    #content {
      #primary {
        #main {
          .custom-row {
            .custom-info:nth-child(1){
              order: 2;
            }
            .icustom-picture:nth-child(2){
              order: 1;
            }
          }
        }
      }
    }
  }
}