//single-photos_nathalie_mota - similar-pictures

#page {
  #content {
    #primary {
      #main {
        .more-pictures {
          .like {
            margin-top: 80px;
            margin-bottom: 80px;

            p {
              font-size: 18px;
              font-weight: 400;
              line-height: 27px;
              letter-spacing: 0.1em;
              text-transform: uppercase;
            }
          }

          .button-2-more {
            display: flex;
            justify-content: center;
            margin-top: 50px;
            margin-bottom: 50px;

            .button-2 {
              padding: 8px 15px 8px 15px;
              width: 272px;
              height: 50px;
              border-radius: 2px;
              background: #D8D8D8;
              border: none;
              font-weight: 400;
              font-size: 12px;
              transition: background-color 0.5s, color 0.5s;

                &:hover {
                  background-color: black;
                  color: white;
                  cursor: pointer;
                }
            }
          }

          .essai {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;

            .item {
              position: relative;

              figure {
                margin: 0px !important;
                  img {
                    width: 100%;
                  }
              }

              .wrapper-hover {
                opacity: 0;
                @include transition(.3s);

                .overlay {
                  position: absolute; 
                  top:0;
                  left:0;
                  width: 100%;
                  height: 100%;
                  background: black;
                  opacity: 0.8;
                }

                .view {
                  position: absolute; 
                  top:0;
                  left:0;
                  width: 100%;
                  height: 100%;
                  display: flex;
                  justify-content: center;
                  align-items: center;

                  .ico {
                    background-image :url('../assets/img/eye.png') ;
                    @include bg-contain();
                    height: 50px;
                    width: 50px;
                    position: absolute;
                  }
                }

                .bottom-view {
                  position:absolute;
                  display: flex;
                  justify-content: space-between;
                  bottom: 10px;
                  width: 100%;
                  @include transition(.3s);
                  opacity: 0;

                  .reference-view {
                    padding-left: 10px;
                    color : #ffffff;
                    font-family: 'poppins';
                    font-size: 14px;
                    line-height: 21px;
                  }

                  .categorie-view {
                    padding-right: 10px;
                    color : #ffffff;
                  }

                  &.active {
                    opacity: 1;
                  }
                }

                .full-screen {
                  position: absolute;
                  right: 10px;
                  top: 10px;
                  height: 25px;
                  width: 25px;
                  background-image :url('../assets/img/full-screen.svg') ;
                  @include bg-contain();
                }
              }

              &:hover {
                .wrapper-hover {
                  opacity: 1;
                }
              }
            }
          }
        }      
      }
    }
  }
}
  
//Mobile
@media (max-width: 768px) {
  #page {
    #content {
      #primary {
        #main {
          .more-pictures {
            margin-left: 30px;
            margin-right: 30px;
            
            .like {
              margin-top: 20px;
              margin-bottom: 20px;

              p {
                text-align: center;
              }
            }
  
            .essai {
              display: grid;
              grid-template-columns: 1fr;

            }

            .button-2-more {
              display: none;
            }
          }
        }
      }
    }
  }
}

